<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-transfert-heading"
        data-cy="TransfertCreateUpdateHeading"
        jhiTranslate="gestionActifsDgiApp.transfert.home.createOrEditLabel"
      >
        Créer ou éditer un transfert
      </h2>

      <div>
        <jhi-alert-error />

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="global.field.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        @let dateTransfertRef = editForm.get('dateTransfert')!;
        <div class="mb-3">
          <label class="form-label" for="field_dateTransfert" jhiTranslate="gestionActifsDgiApp.transfert.dateTransfert"
            >Date Transfert</label
          >
          <div class="input-group">
            <input
              id="field_dateTransfert"
              data-cy="dateTransfert"
              type="text"
              class="form-control"
              name="dateTransfert"
              ngbDatepicker
              #dateTransfertDp="ngbDatepicker"
              formControlName="dateTransfert"
            />
            <button type="button" class="btn btn-secondary" (click)="dateTransfertDp.toggle()"><fa-icon icon="calendar-alt" /></button>
          </div>
          @if (dateTransfertRef.invalid && (dateTransfertRef.dirty || dateTransfertRef.touched)) {
            <div>
              @if (dateTransfertRef.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Ce champ est obligatoire.</small>
              }
            </div>
          }
        </div>

        @let statutRef = editForm.get('statut')!;
        <div class="mb-3">
          <label class="form-label" for="field_statut" jhiTranslate="gestionActifsDgiApp.transfert.statut">Statut</label>
          <select class="form-control" name="statut" formControlName="statut" id="field_statut" data-cy="statut">
            <option [ngValue]="null">{{ 'gestionActifsDgiApp.StatutTransfert.null' | translate }}</option>
            @for (statutTransfert of statutTransfertValues; track $index) {
              <option [value]="statutTransfert">{{ 'gestionActifsDgiApp.StatutTransfert.' + statutTransfert | translate }}</option>
            }
          </select>
          @if (statutRef.invalid && (statutRef.dirty || statutRef.touched)) {
            <div>
              @if (statutRef.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Ce champ est obligatoire.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_commentaireRejet" jhiTranslate="gestionActifsDgiApp.transfert.commentaireRejet"
            >Commentaire Rejet</label
          >
          <input
            type="text"
            class="form-control"
            name="commentaireRejet"
            id="field_commentaireRejet"
            data-cy="commentaireRejet"
            formControlName="commentaireRejet"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_dateTraitement" jhiTranslate="gestionActifsDgiApp.transfert.dateTraitement"
            >Date Traitement</label
          >
          <div class="input-group">
            <input
              id="field_dateTraitement"
              data-cy="dateTraitement"
              type="text"
              class="form-control"
              name="dateTraitement"
              ngbDatepicker
              #dateTraitementDp="ngbDatepicker"
              formControlName="dateTraitement"
            />
            <button type="button" class="btn btn-secondary" (click)="dateTraitementDp.toggle()"><fa-icon icon="calendar-alt" /></button>
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_serviceOrigine" jhiTranslate="gestionActifsDgiApp.transfert.serviceOrigine"
            >Service Origine</label
          >
          <select
            class="form-control"
            id="field_serviceOrigine"
            data-cy="serviceOrigine"
            name="serviceOrigine"
            formControlName="serviceOrigine"
            [compareWith]="compareServiceDgi"
          >
            @if (!editForm.get('serviceOrigine')!.value) {
              <option [ngValue]="null" selected></option>
            }
            @for (serviceDgiOption of serviceDgisSharedCollection(); track $index) {
              <option [ngValue]="serviceDgiOption">{{ serviceDgiOption.id }}</option>
            }
          </select>
        </div>
        @if (
          editForm.get(['serviceOrigine'])!.invalid &&
          (editForm.get(['serviceOrigine'])!.dirty || editForm.get(['serviceOrigine'])!.touched)
        ) {
          <div>
            @if (editForm.get(['serviceOrigine'])?.errors?.required) {
              <small class="form-text text-danger" jhiTranslate="entity.validation.required">Ce champ est obligatoire.</small>
            }
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_serviceDestinataire" jhiTranslate="gestionActifsDgiApp.transfert.serviceDestinataire"
            >Service Destinataire</label
          >
          <select
            class="form-control"
            id="field_serviceDestinataire"
            data-cy="serviceDestinataire"
            name="serviceDestinataire"
            formControlName="serviceDestinataire"
            [compareWith]="compareServiceDgi"
          >
            @if (!editForm.get('serviceDestinataire')!.value) {
              <option [ngValue]="null" selected></option>
            }
            @for (serviceDgiOption of serviceDgisSharedCollection(); track $index) {
              <option [ngValue]="serviceDgiOption">{{ serviceDgiOption.id }}</option>
            }
          </select>
        </div>
        @if (
          editForm.get(['serviceDestinataire'])!.invalid &&
          (editForm.get(['serviceDestinataire'])!.dirty || editForm.get(['serviceDestinataire'])!.touched)
        ) {
          <div>
            @if (editForm.get(['serviceDestinataire'])?.errors?.required) {
              <small class="form-text text-danger" jhiTranslate="entity.validation.required">Ce champ est obligatoire.</small>
            }
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_demandeur" jhiTranslate="gestionActifsDgiApp.transfert.demandeur">Demandeur</label>
          <select
            class="form-control"
            id="field_demandeur"
            data-cy="demandeur"
            name="demandeur"
            formControlName="demandeur"
            [compareWith]="compareUser"
          >
            <option [ngValue]="null"></option>
            @for (userOption of usersSharedCollection(); track $index) {
              <option [ngValue]="userOption">{{ userOption.id }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_validateur" jhiTranslate="gestionActifsDgiApp.transfert.validateur">Validateur</label>
          <select
            class="form-control"
            id="field_validateur"
            data-cy="validateur"
            name="validateur"
            formControlName="validateur"
            [compareWith]="compareUser"
          >
            <option [ngValue]="null"></option>
            @for (userOption of usersSharedCollection(); track $index) {
              <option [ngValue]="userOption">{{ userOption.id }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban" />&nbsp;<span jhiTranslate="entity.action.cancel">Annuler</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving()"
          class="btn btn-primary"
        >
          <fa-icon icon="save" />&nbsp;<span jhiTranslate="entity.action.save">Sauvegarder</span>
        </button>
      </div>
    </form>
  </div>
</div>
