<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-actif-heading" data-cy="ActifCreateUpdateHeading" jhiTranslate="gestionActifsDgiApp.actif.home.createOrEditLabel">
        Créer ou éditer un actif
      </h2>

      <div>
        <jhi-alert-error />

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="global.field.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        @let codeInventaireRef = editForm.get('codeInventaire')!;
        <div class="mb-3">
          <label class="form-label" for="field_codeInventaire" jhiTranslate="gestionActifsDgiApp.actif.codeInventaire"
            >Code Inventaire</label
          >
          <input
            type="text"
            class="form-control"
            name="codeInventaire"
            id="field_codeInventaire"
            data-cy="codeInventaire"
            formControlName="codeInventaire"
          />
          @if (codeInventaireRef.invalid && (codeInventaireRef.dirty || codeInventaireRef.touched)) {
            <div>
              @if (codeInventaireRef.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Ce champ est obligatoire.</small>
              }
            </div>
          }
        </div>

        @let designationRef = editForm.get('designation')!;
        <div class="mb-3">
          <label class="form-label" for="field_designation" jhiTranslate="gestionActifsDgiApp.actif.designation">Designation</label>
          <input
            type="text"
            class="form-control"
            name="designation"
            id="field_designation"
            data-cy="designation"
            formControlName="designation"
          />
          @if (designationRef.invalid && (designationRef.dirty || designationRef.touched)) {
            <div>
              @if (designationRef.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Ce champ est obligatoire.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_marque" jhiTranslate="gestionActifsDgiApp.actif.marque">Marque</label>
          <input type="text" class="form-control" name="marque" id="field_marque" data-cy="marque" formControlName="marque" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_modele" jhiTranslate="gestionActifsDgiApp.actif.modele">Modele</label>
          <input type="text" class="form-control" name="modele" id="field_modele" data-cy="modele" formControlName="modele" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_numeroSerie" jhiTranslate="gestionActifsDgiApp.actif.numeroSerie">Numero Serie</label>
          <input
            type="text"
            class="form-control"
            name="numeroSerie"
            id="field_numeroSerie"
            data-cy="numeroSerie"
            formControlName="numeroSerie"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_codeBarre" jhiTranslate="gestionActifsDgiApp.actif.codeBarre">Code Barre</label>
          <input type="text" class="form-control" name="codeBarre" id="field_codeBarre" data-cy="codeBarre" formControlName="codeBarre" />
        </div>

        @let typeRef = editForm.get('type')!;
        <div class="mb-3">
          <label class="form-label" for="field_type" jhiTranslate="gestionActifsDgiApp.actif.type">Type</label>
          <select class="form-control" name="type" formControlName="type" id="field_type" data-cy="type">
            <option [ngValue]="null">{{ 'gestionActifsDgiApp.TypeActif.null' | translate }}</option>
            @for (typeActif of typeActifValues; track $index) {
              <option [value]="typeActif">{{ 'gestionActifsDgiApp.TypeActif.' + typeActif | translate }}</option>
            }
          </select>
          @if (typeRef.invalid && (typeRef.dirty || typeRef.touched)) {
            <div>
              @if (typeRef.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Ce champ est obligatoire.</small>
              }
            </div>
          }
        </div>

        @let etatRef = editForm.get('etat')!;
        <div class="mb-3">
          <label class="form-label" for="field_etat" jhiTranslate="gestionActifsDgiApp.actif.etat">Etat</label>
          <select class="form-control" name="etat" formControlName="etat" id="field_etat" data-cy="etat">
            <option [ngValue]="null">{{ 'gestionActifsDgiApp.StatutActif.null' | translate }}</option>
            @for (statutActif of statutActifValues; track $index) {
              <option [value]="statutActif">{{ 'gestionActifsDgiApp.StatutActif.' + statutActif | translate }}</option>
            }
          </select>
          @if (etatRef.invalid && (etatRef.dirty || etatRef.touched)) {
            <div>
              @if (etatRef.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Ce champ est obligatoire.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_localisation" jhiTranslate="gestionActifsDgiApp.actif.localisation">Localisation</label>
          <input
            type="text"
            class="form-control"
            name="localisation"
            id="field_localisation"
            data-cy="localisation"
            formControlName="localisation"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_dateAcquisition" jhiTranslate="gestionActifsDgiApp.actif.dateAcquisition"
            >Date Acquisition</label
          >
          <div class="input-group">
            <input
              id="field_dateAcquisition"
              data-cy="dateAcquisition"
              type="text"
              class="form-control"
              name="dateAcquisition"
              ngbDatepicker
              #dateAcquisitionDp="ngbDatepicker"
              formControlName="dateAcquisition"
            />
            <button type="button" class="btn btn-secondary" (click)="dateAcquisitionDp.toggle()"><fa-icon icon="calendar-alt" /></button>
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_valeurAcquisition" jhiTranslate="gestionActifsDgiApp.actif.valeurAcquisition"
            >Valeur Acquisition</label
          >
          <input
            type="number"
            class="form-control"
            name="valeurAcquisition"
            id="field_valeurAcquisition"
            data-cy="valeurAcquisition"
            formControlName="valeurAcquisition"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_categorie" jhiTranslate="gestionActifsDgiApp.actif.categorie">Categorie</label>
          <select
            class="form-control"
            id="field_categorie"
            data-cy="categorie"
            name="categorie"
            formControlName="categorie"
            [compareWith]="compareCategorieMateriel"
          >
            @if (!editForm.get('categorie')!.value) {
              <option [ngValue]="null" selected></option>
            }
            @for (categorieMaterielOption of categorieMaterielsSharedCollection(); track $index) {
              <option [ngValue]="categorieMaterielOption">{{ categorieMaterielOption.id }}</option>
            }
          </select>
        </div>
        @if (editForm.get(['categorie'])!.invalid && (editForm.get(['categorie'])!.dirty || editForm.get(['categorie'])!.touched)) {
          <div>
            @if (editForm.get(['categorie'])?.errors?.required) {
              <small class="form-text text-danger" jhiTranslate="entity.validation.required">Ce champ est obligatoire.</small>
            }
          </div>
        }
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban" />&nbsp;<span jhiTranslate="entity.action.cancel">Annuler</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving()"
          class="btn btn-primary"
        >
          <fa-icon icon="save" />&nbsp;<span jhiTranslate="entity.action.save">Sauvegarder</span>
        </button>
      </div>
    </form>
  </div>
</div>
