<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-inventaire-heading"
        data-cy="InventaireCreateUpdateHeading"
        jhiTranslate="gestionActifsDgiApp.inventaire.home.createOrEditLabel"
      >
        Créer ou éditer un inventaire
      </h2>

      <div>
        <jhi-alert-error />

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="global.field.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        @let nomFichierRef = editForm.get('nomFichier')!;
        <div class="mb-3">
          <label class="form-label" for="field_nomFichier" jhiTranslate="gestionActifsDgiApp.inventaire.nomFichier">Nom Fichier</label>
          <input
            type="text"
            class="form-control"
            name="nomFichier"
            id="field_nomFichier"
            data-cy="nomFichier"
            formControlName="nomFichier"
          />
          @if (nomFichierRef.invalid && (nomFichierRef.dirty || nomFichierRef.touched)) {
            <div>
              @if (nomFichierRef.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Ce champ est obligatoire.</small>
              }
            </div>
          }
        </div>

        @let dateImportRef = editForm.get('dateImport')!;
        <div class="mb-3">
          <label class="form-label" for="field_dateImport" jhiTranslate="gestionActifsDgiApp.inventaire.dateImport">Date Import</label>
          <div class="input-group">
            <input
              id="field_dateImport"
              data-cy="dateImport"
              type="text"
              class="form-control"
              name="dateImport"
              ngbDatepicker
              #dateImportDp="ngbDatepicker"
              formControlName="dateImport"
            />
            <button type="button" class="btn btn-secondary" (click)="dateImportDp.toggle()"><fa-icon icon="calendar-alt" /></button>
          </div>
          @if (dateImportRef.invalid && (dateImportRef.dirty || dateImportRef.touched)) {
            <div>
              @if (dateImportRef.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Ce champ est obligatoire.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_actif" jhiTranslate="gestionActifsDgiApp.inventaire.actif">Actif</label>
          <select class="form-control" id="field_actif" data-cy="actif" name="actif" formControlName="actif" [compareWith]="compareActif">
            <option [ngValue]="null"></option>
            @for (actifOption of actifsSharedCollection(); track $index) {
              <option [ngValue]="actifOption">{{ actifOption.id }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban" />&nbsp;<span jhiTranslate="entity.action.cancel">Annuler</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving()"
          class="btn btn-primary"
        >
          <fa-icon icon="save" />&nbsp;<span jhiTranslate="entity.action.save">Sauvegarder</span>
        </button>
      </div>
    </form>
  </div>
</div>
